/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*CSS Varible*/
:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Lato", serif;
    --primary-color: #516c72; /*petrol*/
    --secondary-color: #42352c; /*dark brown*/
    --highlight-color: #a3acb9; /*ljus blågrå*/
    --light-highlight-color: #9d8b86; /*light greish*/
}
/*Global styles*/
body {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px var(--primary-color);
    display: none;
    top: 100%;
    text-align: end;
}

/*Main content*/
 .coffeemug {
    height: 800px;
    width: 100%;
    background: url("../images/52867.jpg");
    background-size: cover; /* Makes the background cover the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative;
}
/*Buttoms*/
.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--secondary-color);
    color: white;}

/*Reason section*/
#circle-cover-bg {
    background: url("../images/2149299512.jpg") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /*Makes the square image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}    
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-relax>div,
#benefits-social>div,
#benefits-community>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid var(--primary-color);
    margin: 5px 0;
}

/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--secondary-color);
}






/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    /*Reason section*/
    #benefits-relax,
    #benefits-social,
    #benefits-community {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

    #benefits-relax > div,
    #benefits-social > div,
    #benefits-community > div {
        width: 75%;
    }

    #benefits-social {
        text-align: end;
        align-items: flex-end;
    }
    #benefit-community {
        text-align: center;
        align-content: flex-end;
}
}

/*Media query: XL devices 1200px and up*/
@media screen and (min-width: 1200px) {    
    /* Reasons section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-image {
        order: 0
    }

    #benefits-social {
        order: 1;
    }

    #benefits-social > div {
        align-self: flex-start;
    }

    #benefits-relax > div {
        align-self: flex-end;
    }
    

}